%table.siteListTable
    %thead
        %tr.goLeft.siteListTableHeader
            %th
                Site
            %th
                Last checked
            %th
                Broken
            %th
                Pages
            %th
                Links
    %tbody
        - sites.each do |site|
            %tr.siteInfo
                %td.span7
                    %a{:href => "/site/#{site.location.to_slug}"}
                        %strong.subtleLink.siteTitle
                            != site.location

                %td.span4
                    - if site.last_checked
                        %span.muted.smaller
                            != site.last_checked.to_time

                %td.span2
                    - if site.broken_links_count < 1 || nil
                        %span.badge.badge-success
                            0
                    - else
                        %span.badge.badge-error
                            != site.broken_links_count
                %td.span2
                    %span.badge.badge-info
                        != site.pages_checked_count || '0'
                %td.span2
                    %span.badge.badge-info
                        != site.links_checked_count || '0'
