%table.siteListTable
    %thead
        %tr.goLeft.siteListTableHeader
            %th
                Site
            %th
                Last checked
            %th
                Links
            %th
                Problem pages
            %th
                Pages checked
            %th
                Links checked
    %tbody
        - sites.each do |site|
            %tr.siteInfo
                %td.span5
                    %a{:href => "/site/#{site.location.to_slug}"}
                        %h3
                            != site.location
                        
                %td.span4
                    - if site.last_checked
                        %span.muted.smaller
                            != site.last_checked.to_time
                            
                %td.span2
                    - if site.broken_links_count > 0
                        %span.badge.badge-error
                            != site.broken_links_count
                            
                %td.span2
                    - if site.pages_with_brokens_count.is_a? Fixnum
                        - if site.pages_with_brokens_count > 0
                            %span.badge.badge-error
                                != site.pages_with_brokens_count
                            
                %td.span2
                    - if site.pages_checked_count > 0
                        %span.badge.badge-success
                            != site.pages_checked_count
                            
                %td.span2
                    - if site.links_checked_count > 0
                        %span.badge.badge-success
                            != site.links_checked_count
