- i = 0
- @pages.each do |page, hash_of_problems|
    .row
        .span12
            %h3.pageTitle
                != link_to(page, page, :class => 'subtleLink')
            %hr.thin
    - hash_of_problems.each do |problem, array|
        - unless array.empty?
            .row
                .span12
                    %h4.problemLabel
                        != problem.gsub('_', ' ').proper_case

            .row
                %ul.unstyled
                    - array.each do |link|
                        - i += 1

                        .targetable{:id => "row-#{i}"}
                            .span8
                                %li.link
                                    != link_to(link, link)
                            .span4
                                != haml :'info/blacklist', :locals => {:link => link, :site => @site.location, :target => "form-#{i}"}
