- i = 0
- @problems.each do |problem, hash_of_links|
    - unless hash_of_links.empty?
        .row
            .span12
                %h3.problemTitle
                    != problem.gsub('_', ' ').proper_case
                %hr.thin
                - hash_of_links.each do |link, array|
                    - unless array.empty?
                        - i += 1
                        .targetable{:id => "row-#{i}", :class => "row-#{i}"}
                            .row
                                .span8
                                    %h4.linkTitle
                                        != link_to(link, link, :target => 'none')
                                .span4
                                    != haml :'info/blacklist', :locals => {:link => link, :site => @site.location, :target => "form-#{i}"}
                            .row
                                .span12
                                    %a{:class => 'accordion-toggle subtleLink', :data => {:toggle => 'collapse', :target => "#table-#{i}"}}
                                        - s = "Appears on #{array.length} page"
                                        != array.length == 1 ? s + ' +' : s.plural + " +"
                                    .collapse.in{:id => "table-#{i}"}
                                        %ul.unstyled
                                            - array.each do |link|
                                                %li.link
                                                    != link_to(link, link, :target => 'none')
