.row
    .span12
        %ul.nav.nav-tabs
            - tabs={}; tabs[@context] = 'active'
            %li{:class => tabs[:pages]}
                != link_to('Broken link pages', "/site/#{@site.location.to_slug}")
            %li{:class => tabs[:temp_blacklist]}
                != link_to('Temporary blacklist', "/site/#{@site.location.to_slug}/blacklist/temp")
            %li{:class => tabs[:blacklist]}
                != link_to('Blacklist', "/site/#{@site.location.to_slug}/blacklist")
