.row
    .span12
        %ul.nav.nav-tabs
            - tabs={}; tabs[@context] = 'active'
            %li{:class => tabs[:pages]}
                != link_to('Broken link pages' + "<span id='tab-pages' class='badge tabBadge'>#{@tab_cards[:pages]}</span>", "/site/#{@site.location.to_slug}")
            %li{:class => tabs[:temp_blacklist]}
                != link_to('Temporary blacklist' + "<span id='tab-temp' class='badge tabBadge'>#{@tab_cards[:temp_blacklist]}</span>", "/site/#{@site.location.to_slug}/blacklist/temp")
            %li{:class => tabs[:blacklist]}
                != link_to('Blacklist'  + "<span id='tab-blacklist' class='badge tabBadge'>#{@tab_cards[:blacklist]}</span>", "/site/#{@site.location.to_slug}/blacklist")
