.row
    .span12
        %h2.siteListHeader 
            != @site.location
            %small
                != @site.last_checked.to_time if @site.last_checked
        
        - @pages.each do |page, hash_of_problems|
            %h3.pageTitle
                != link_to(page, page)
                - hash_of_problems.each do |problem, array|
                    - unless array.empty?
                        %h4.problemLabel
                            != problem.gsub('_', ' ')
                        %ul
                            - array.each do |link|
                                %li
                                    != link_to(link, link)
