.row
    .span12
        %h2.siteListHeader Sites
        %ul.nav.nav-tabs
            %li.active
                %a{:href => '#recent', :data => {:toggle => 'tab'}}
                    != "Checked this week" + "<span class='badge tabBadge'>#{@recent.length}</span>"
            %li   
                %a{:href => '#old', :data => {:toggle => 'tab'}}
                    != "Others" + "<span class='badge tabBadge'>#{@old.length}</span>"
        
        .tab-content
            .tab-pane.active#recent
                != haml :_site_table, :locals => { :sites => @recent }
                    
            .tab-pane#old
                != haml :_site_table, :locals => { :sites => @old }
